


<!--

  MONTHLY

-->

<div class="card text-white bg-secondary py-3 mb-3">
  <div class="card-header">
    Ready-to-use design assets from {{vendorCount}} independent creators
  </div>
  {{{daily-discount}}}
  {{{monthly-bundle}}}
</div>
