<hr class="pt-3">
<ul class="nav">
  {{#with menu}}
    {{#each sub}}
    <li class="nav-item">
      <a class="nav-link text-muted" href="{{id}}">{{name}}</a>
    </li>
    {{/each}}
  {{/with}}
</ul>
