
---
<hr class="pt-3">
<ul class="nav">

  <li class="nav-item">
    <a class="nav-link text-muted" href="#">Welcome to {{title}}</a>
  </li>

  <li class="nav-item">
    <a class="nav-link text-muted" href="#">Photos</a>
  </li>


</ul>
