
<hr class="pt-3">

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link text-muted" href="#">Welcome to {{title}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="#">Photos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="#">Graphics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="#">Templates</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="#">Themes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="#">Fonts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="#">Add-Ons</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-muted" href="#">3D</a>
  </li>
</ul>


<!--

  MONTHLY

-->
<hr class="pt-3 border-0">

<div class="card text-white bg-secondary py-3 mb-3">
  <div class="card-header">
    Ready-to-use design assets from {{vendorCount}} independent creators
  </div>

  <div class="card-body text-right">
    <h5 class="card-title">
      Graphics, fonts, themes, photos and more, starting at $2!
    </h5>

    <hr class="pt-3">
    <p class="card-text">Get 6 free products and 10% off!</p>
    <a href="#" class="btn btn-sm btn-primary">Continue →</a>

  </div>

  <div class="card-body bg-dark">

    <h5 class="card-title">
      {{monthName}} Big Bundle
    </h5>

    <hr class="pt-3">
    <p class="card-text">A massive 68 items for only $39</p>
    <a href="#" class="btn btn-primary">See Whats Included →</a>

  </div>

</div>


<!--

  FREE

-->
<hr class="py-3 border-0">

<h3 class="py-3">
  These products are free this week only, so get 'em before they're gone!
  <small class="text-muted d-block">Exclusive Free Goods</small>
</h3>

<div class="card-deck py-3">

  <div class="card">
    <div class="card-body bg-secondary text-white" style="min-height: 240px;">
    </div>
    <div class="card-body">
      <p class="card-text"><a href="/fantasyui-com/free-dorka" class="h6">DORKA - Powerpoint Template</a></p>
      <p class="card-text">by <a href="/storefront/fantasyui-com" class="small">FantasyUI</a> in <a href="/templates" class="small">Templates</a></p>
      <p class="card-text float-right"><small class="text-muted"><a href="/fantasyui-com/free-dorka" class="btn btn-sm btn-primary">Free Download</a></small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body bg-secondary text-white" style="min-height: 240px;">
    </div>
    <div class="card-body">
      <p class="card-text"><a href="/fantasyui-com/free-dorka" class="h6">DORKA - Powerpoint Template</a></p>
      <p class="card-text">by <a href="/storefront/fantasyui-com" class="small">FantasyUI</a> in <a href="/templates" class="small">Templates</a></p>
      <p class="card-text float-right"><small class="text-muted"><a href="/fantasyui-com/free-dorka" class="btn btn-sm btn-primary">Free Download</a></small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body bg-secondary text-white" style="min-height: 240px;">
    </div>
    <div class="card-body">
      <p class="card-text"><a href="/fantasyui-com/free-dorka" class="h6">DORKA - Powerpoint Template</a></p>
      <p class="card-text">by <a href="/storefront/fantasyui-com" class="small">FantasyUI</a> in <a href="/templates" class="small">Templates</a></p>
      <p class="card-text float-right"><small class="text-muted"><a href="/fantasyui-com/free-dorka" class="btn btn-sm btn-primary">Free Download</a></small></p>
    </div>
  </div>


</div>
