<hr class="pt-3">

<h3 class="py-3">
   {{product}}
  <small class="text-muted">by {{company}}</small>
</h3>


<div>
  {{{section-header "Primary Colors" ""}}}
</div>

<div>
  <div class="ink-well d-inline-block" style="background: red;"></div>
  <div class="ink-well d-inline-block" style="background: green;"></div>
  <div class="ink-well d-inline-block" style="background: blue;"></div>
  <div class="ink-well d-inline-block" style="background: purple;"></div>
  <div class="ink-well d-inline-block" style="background: magenta;"></div>
  <div class="ink-well d-inline-block" style="background: yellow;"></div>
</div>

<div class="card-deck py-3">
...
</div>
