<hr class="pt-3">

<h3 class="py-3">
  {{vendorName}}
  <small class="text-muted">Welcome to {{vendorId}} Storefront</small>
</h3>

<div class="card-deck py-3">

  <div class="card">
    <div class="card-body bg-secondary text-white" style="min-height: 240px;">
    </div>
    <div class="card-body">
      <p class="card-text"><a href="/fantasyui-com/free-dorka" class="h6">DORKA - Powerpoint Template</a></p>
      <p class="card-text">by <a href="/storefront/fantasyui-com" class="small">FantasyUI</a> in <a href="/templates" class="small">Templates</a></p>
      <p class="card-text float-right"><small class="text-muted"><a href="/fantasyui-com/free-dorka" class="btn btn-sm btn-primary">Free Download</a></small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body bg-secondary text-white" style="min-height: 240px;">
    </div>
    <div class="card-body">
      <p class="card-text"><a href="/fantasyui-com/free-dorka" class="h6">DORKA - Powerpoint Template</a></p>
      <p class="card-text">by <a href="/storefront/fantasyui-com" class="small">FantasyUI</a> in <a href="/templates" class="small">Templates</a></p>
      <p class="card-text float-right"><small class="text-muted"><a href="/fantasyui-com/free-dorka" class="btn btn-sm btn-primary">Free Download</a></small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-body bg-secondary text-white" style="min-height: 240px;">
    </div>
    <div class="card-body">
      <p class="card-text"><a href="/fantasyui-com/free-dorka" class="h6">DORKA - Powerpoint Template</a></p>
      <p class="card-text">by <a href="/storefront/fantasyui-com" class="small">FantasyUI</a> in <a href="/templates" class="small">Templates</a></p>
      <p class="card-text float-right"><small class="text-muted"><a href="/fantasyui-com/free-dorka" class="btn btn-sm btn-primary">Free Download</a></small></p>
    </div>
  </div>


</div>
